@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100&display=swap');
:root {
    --cor1: #131F26;
    --cor2: #2A5159;
    --cor3: #688C8C;
    --cor4: #A3BFAF;
    --cor5: #F0F2DC;
    --size-default: 1.2em
}
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    font-size: var(--size-default);
    background-color: var(--cor1);
}

main {
    position: relative;
    top: 10vh;
    background-color: var(--cor2);
    width: 70vw;
    min-width: 280px;
    max-width: 450px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

main h1 {
    color: white;
    margin: 10px 5px 10px 5px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

input, select, p {
    border-style: none;
    font-size: var(--size-default);
}

input {
    width: 100%;
    min-width: none;
    text-align: center;
    appearance: none;
    margin-bottom: 5px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    display: none;
}

select {
    width: 100%;
    text-align: center;
    background-color: lightgray;
}

div.sides {
    display: inline-block;
    width: 43%;
}

div#equal {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: var(--size-default);
    width: 10%;
    text-align: center;
    color: white;
}

a {
    display: block;
    position: relative;
    top: 50vh;
    
    background-image: linear-gradient(to right, #9138B2, #E13766, #FED47B);
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    width: 240px;
    
    font-family: 'Heebo', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}

a > img {
    display: inline-block;
    width: 37px;
    height: 37px;
    transform: translate(0px, 4px);
}

a > span {
    position: relative;
    top: -8px;
}